<html>

<head>
    <title> ALE-ESL-Board </title>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/login.css" />
    <!--    <script type="text/javascript" src="js/molecule.js"></script>-->
</head>

<body>
    <p class="title">ALE ESL Board</p>

    <br>

    <form method="post" action="/login">
        <input type="text" placeholder="Name" name="username" />
        <br>
        <input type="text" placeholder="Room" name="roomname" />
        <br>
        <button type="submit" class="btn">Create or Join Room</button>
    </form>

    <button class="errorBox" style="visibility: '<%= visibility %>';">
        <%if(msg){%>
            <%=msg%>
                <%}%>
    </button>
</body>

</html>